* {
    box-sizing: border-box;
}


body {
    background-image: url("https://images.pexels.com/photos/1420440/pexels-photo-1420440.jpeg");
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
 
}
#Formulario {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(4, 41, 24);
    background: rgba(210, 228, 110, 0.781);
    padding: 20px;
    margin: auto;
    border-radius: 3%;
    width: 700px;
}
@media(min-width:768px) {
    .Formulario{
        margin: auto;
        width: 500px;
        margin-top: 140px;
        border-radius: 2%;
    }
}
.Button{
    margin-top: 5px;
    margin-left: 590px;
    border-radius: 10%;
    border-color: lightgray;
    background-color: lightgray;
}
.enclet{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:azure;
    font-size: 35px;
    margin-left: 10px;
    margin-top: 2px;
}
.lettest{
    padding-bottom: 50%;
    padding-top: 50%;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-left: 50%;
    color :red;
}
.Buttot{
    margin-top: 50000px;
    margin-left: 590px;
    border-radius: 10%;
    border-color: rgb(226, 21, 21);
    background-color: rgb(226, 0, 0);
}

#logcss{
    background-color: black;
}
footer{
    color: white;
    position: fixed;
    bottom: 0;
    
}
